---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/legislators/locate?apikey=4f31eec42cc44fb38e818cd6e62ac14f&zip=80202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"G000562","birthday":"1974-08-22","chamber":"senate","contact_form":null,"crp_id":"N00030780","district":null,"facebook_id":"160924893954206","fax":null,"fec_ids":["H0CO04122"],"first_name":"Cory","gender":"M","govtrack_id":"412406","icpsr_id":21112,"in_office":true,"last_name":"Gardner","lis_id":"S377","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Gardner@opencongress.org","ocd_id":"ocd-division/country:us/state:co","office":"B40b
        Dirksen Senate Office Building","party":"R","phone":"202-224-5941","senate_class":2,"state":"CO","state_name":"Colorado","state_rank":"junior","term_end":"2021-01-03","term_start":"2015-01-06","thomas_id":"01998","title":"Sen","twitter_id":"SenCoryGardner","votesmart_id":30004,"website":"http://www.gardner.senate.gov","youtube_id":null},{"bioguide_id":"D000197","birthday":"1957-07-29","chamber":"house","contact_form":"https://degette.house.gov/contact/send-me-an-email/email-me","crp_id":"N00006134","district":1,"facebook_id":"110757973488","fax":"202-225-5657","fec_ids":["H6CO01141"],"first_name":"Diana","gender":"F","govtrack_id":"400101","icpsr_id":29710,"in_office":true,"last_name":"DeGette","middle_name":"L.","name_suffix":null,"nickname":null,"oc_email":"Rep.Degette@opencongress.org","ocd_id":"ocd-division/country:us[...]
